# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: "Code health checks (npm audit, eslint, tscompiler, ...)"

on:
  push:
  pull_request:

jobs:
  analyze:
    name: "Analyze"
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.14.0
          check-latest: true

      - name: Use terraform
        uses: hashicorp/setup-terraform@v4

      - name: Install node modules
        run: npm install

      - name: Execute "npm run typecheck"
        run: npm run typecheck

      - name: Execute "npm run eslint"
        run: npm run eslint

      - name: Execute "npm run check-format"
        run: npm run check-format

      - name: Execute "npm run mdlint"
        run: npm run mdlint

      - name: Execute "npm audit"
        run: npm audit

      - name: Execute "npm run markdown-link-check"
        run: npm run markdown-link-check

      - name: terraform validate deployments
        run: npm run terraform-validate
